/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../src/assets/scss/main.scss */
.app {
  display: flex;
  flex-flow: row wrap;
  max-width: 1120px;
  min-width: 320px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  /* line 14, ../../../src/assets/scss/main.scss */
  .app {
    flex-direction: column;
  }
}

/* line 27, ../../../src/assets/scss/main.scss */
.display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 1 100%;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  /* line 27, ../../../src/assets/scss/main.scss */
  .display {
    flex-direction: column;
  }
}

/* line 41, ../../../src/assets/scss/main.scss */
.inventory {
  margin-bottom: 10px;
}

/* line 45, ../../../src/assets/scss/main.scss */
.display-header {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* line 51, ../../../src/assets/scss/main.scss */
.inventory-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
@media (min-width: 768px) {
  /* line 51, ../../../src/assets/scss/main.scss */
  .inventory-list {
    flex-direction: row;
  }
}

/* line 61, ../../../src/assets/scss/main.scss */
.inventory-list-item {
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  /* line 61, ../../../src/assets/scss/main.scss */
  .inventory-list-item {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 70, ../../../src/assets/scss/main.scss */
.unit-counter {
  margin-left: 5px;
}

/* line 74, ../../../src/assets/scss/main.scss */
.menu {
  margin-bottom: 10px;
}

/* line 78, ../../../src/assets/scss/main.scss */
.menu-price {
  margin-left: 5px;
}

/* line 82, ../../../src/assets/scss/main.scss */
.menu-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
@media (min-width: 768px) {
  /* line 82, ../../../src/assets/scss/main.scss */
  .menu-list {
    flex-direction: row;
  }
}

/* line 92, ../../../src/assets/scss/main.scss */
.menu-list-item {
  margin-bottom: 7px;
}

/* line 96, ../../../src/assets/scss/main.scss */
.order-drink-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  flex: 0 100%;
}
@media (min-width: 768px) {
  /* line 96, ../../../src/assets/scss/main.scss */
  .order-drink-menu {
    flex-direction: row;
  }
}

/* line 107, ../../../src/assets/scss/main.scss */
.order-drink-btn {
  display: block;
  margin-bottom: 10px;
  padding: 8px 10px;
}
@media (min-width: 768px) {
  /* line 107, ../../../src/assets/scss/main.scss */
  .order-drink-btn {
    float: left;
    margin-left: 10px;
  }
}
