/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../../src/assets/scss/main.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, ../../../src/assets/scss/main.scss */
html * {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 20, ../../../src/assets/scss/main.scss */
.app {
  display: flex;
  flex-flow: row wrap;
  max-width: 1120px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  /* line 20, ../../../src/assets/scss/main.scss */
  .app {
    flex-direction: column;
  }
}
@media (min-width: 1120px) {
  /* line 20, ../../../src/assets/scss/main.scss */
  .app {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 40, ../../../src/assets/scss/main.scss */
.display {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 100%;
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 4px;
  background: #081218;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), 0px 0px 5px rgba(0, 0, 0, 0.9);
  color: #2c902b;
}
@media (min-width: 460px) {
  /* line 40, ../../../src/assets/scss/main.scss */
  .display {
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  /* line 40, ../../../src/assets/scss/main.scss */
  .display {
    flex-direction: column;
  }
}

/* line 61, ../../../src/assets/scss/main.scss */
.inventory,
.menu {
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 460px) {
  /* line 61, ../../../src/assets/scss/main.scss */
  .inventory,
  .menu {
    width: auto;
  }
}

/* line 71, ../../../src/assets/scss/main.scss */
.display-header {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* line 77, ../../../src/assets/scss/main.scss */
.inventory-list,
.menu-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
@media (min-width: 768px) {
  /* line 77, ../../../src/assets/scss/main.scss */
  .inventory-list,
  .menu-list {
    flex-direction: row;
  }
}

/* line 88, ../../../src/assets/scss/main.scss */
.inventory-list-item,
.menu-list-item {
  position: relative;
  margin-bottom: 7px;
  border-bottom: 1px solid #6c286d;
}
@media (min-width: 460px) and (max-width: 767px) {
  /* line 88, ../../../src/assets/scss/main.scss */
  .inventory-list-item,
  .menu-list-item {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  /* line 88, ../../../src/assets/scss/main.scss */
  .inventory-list-item,
  .menu-list-item {
    margin-left: 10px;
    margin-right: 0;
  }
  /* line 101, ../../../src/assets/scss/main.scss */
  .inventory-list-item:first-child,
  .menu-list-item:first-child {
    margin-left: 0;
  }
}

/* line 107, ../../../src/assets/scss/main.scss */
.unit-counter,
.menu-price {
  position: absolute;
  right: 0;
}
@media (min-width: 460px) {
  /* line 107, ../../../src/assets/scss/main.scss */
  .unit-counter,
  .menu-price {
    position: static;
  }
}

@media (min-width: 460px) {
  /* line 117, ../../../src/assets/scss/main.scss */
  .unit-counter {
    margin-left: 7px;
  }
}

/* line 123, ../../../src/assets/scss/main.scss */
.order-drink-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 0 100%;
  margin-top: 20px;
}

/* line 131, ../../../src/assets/scss/main.scss */
.order-drink-btn {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50%;
  background: #6c286d;
  box-shadow: 0px 4px 0px 1px #471a48;
  color: #fff;
  outline: none;
}
/* line 144, ../../../src/assets/scss/main.scss */
.order-drink-btn:active {
  transform: translateY(3px);
  box-shadow: none;
}
