@import "compass/css3";
@import "susy";

$breakpoint: 768px;

// Susy map to override defaults
$susy: (
	columns: 12,
	gutter-position: inside,
);

@import "compass/reset";

.app {
	display: flex;
	flex-flow: row wrap;
	max-width: 1120px;
	min-width: 320px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;

	@media (min-width: $breakpoint) {
		flex-direction: column;
	}
}

.display {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	flex: 1 100%;
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;

	@media (min-width: $breakpoint) {
		flex-direction: column;
	}
}

.inventory {
	margin-bottom: 10px;
}

.display-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.inventory-list {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;

	@media (min-width: $breakpoint) {
		flex-direction: row;
	}
}

.inventory-list-item {
	margin-bottom: 7px;

	@media (min-width: $breakpoint) {
		margin-left: 0;
		margin-right: 0;
	}
}

.unit-counter {
	margin-left: 5px;
}

.menu {
	margin-bottom: 10px;
}

.menu-price {
	margin-left: 5px;
}

.menu-list {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;

	@media (min-width: $breakpoint) {
		flex-direction: row;
	}
}

.menu-list-item {
	margin-bottom: 7px;
}

.order-drink-menu {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	flex: 0 100%;

	@media (min-width: $breakpoint) {
		flex-direction: row;
	}
}

.order-drink-btn {
	display: block;
	margin-bottom: 10px;
	padding: 8px 10px;

	@media (min-width: $breakpoint) {
		float: left;
		margin-left: 10px;
	}
}