<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Coffee-O-Matic 5000</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/assets/scripts/vendor/angular.min.js"></script>

    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body ng-app="coffeeOMatic" ng-controller="mainController">
    <div class="app" role="main">
        <div class="display">
            <div class="inventory">
                <ul class="inventory-list">
                    <li class="inventory-list-item" ng-repeat="ingredient in inventory">{{ ingredient.displayName }}<span class="unit-counter">{{ ingredient.units }}</span></li>
                </ul>
            </div><!-- end: .inventory -->

            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-list-item" ng-repeat="drink in recipes">{{ drink.displayName }} <span class="menu-price">{{ drink.price | currency }}</span></li>
                </ul>
            </div> <!-- end: .menu -->
        </div> <!-- end: .display -->

        <div class="order-drink-menu">
            <button ng-repeat="drink in recipes" ng-click="makeDrink(drink.name)" model="drink.ingredients" class="order-drink-btn">{{ drink.displayName }}</button>
            <button ng-click="restock()" class="order-drink-btn restock">Restock Machine</button>
        </div>

    </div> <!-- end: .app -->
    <!-- Scripts -->
    <script src="/assets/scripts/App.js"></script>
    <!-- // Scripts -->
</body>
</html>
